.about {
  padding: 60px;
  text-align: center;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
  margin: auto;
  color: #555;
}

.about-cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}

.card {
  background: #f1f5f9;
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
